extends ../templates/component_page.pug

block head
  script(src=require('@src/components/modal/modal.js'), defer)
  -
    const menuConfig = require('@templates/menu/menu-config.js');
    menuConfig['Templates']['Modal dialog'].isActive = true;
  title Modal

block componentTitle
  | Modal

block componentContent
  +styledButton#modal-open
    | Open modal
  +modal('Modal title', 'modal', 'modal-close')
    form.form
      +text-field('Name', 'name')(placeholder='Ivan')
      +text-field('Email', 'email', 'success')(
        placeholder='test@example.com'
      )
      +text-field('Password', 'password', 'error')(type='password')
      +styledButton.form__button(type='submit')
        | Submit

block htmlCode
  :highlight(html)
    <div class="modal" id="modal">
      <div class="modal__window">
        <svg class="modal__close" id="modal-close">
          <use href="/assets/images/icons_sprite.svg#cross"></use>
        </svg>
        <div class="modal__title">Modal title</div>
        <div class="modal__content">
          <form class="form">
            <div class="text-field">
              <label class="text-field__label" for="name">Name</label>
              <div class="text-field__wrapper">
                <input class="text-field__input" id="name" placeholder="Ivan" />
                <svg class="text-field__icon text-field__icon_success">
                  <use href="/assets/images/icons_sprite.svg#success"></use>
                </svg>
                <svg class="text-field__icon text-field__icon_error">
                  <use href="/assets/images/icons_sprite.svg#error"></use>
                </svg>
              </div>
            </div>
            <div class="text-field text-field_success">
              <label class="text-field__label" for="email">Email</label>
              <div class="text-field__wrapper">
                <input
                  class="text-field__input"
                  id="email"
                  placeholder="test@example.com"
                />
                <svg class="text-field__icon text-field__icon_success">
                  <use href="/assets/images/icons_sprite.svg#success"></use>
                </svg>
                <svg class="text-field__icon text-field__icon_error">
                  <use href="/assets/images/icons_sprite.svg#error"></use>
                </svg>
              </div>
            </div>
            <div class="text-field text-field_error">
              <label class="text-field__label" for="password">Password</label>
              <div class="text-field__wrapper">
                <input class="text-field__input" id="password" type="password" />
                <svg class="text-field__icon text-field__icon_success">
                  <use href="/assets/images/icons_sprite.svg#success"></use>
                </svg>
                <svg class="text-field__icon text-field__icon_error">
                  <use href="/assets/images/icons_sprite.svg#error"></use>
                </svg>
              </div>
            </div>
            <button class="button button_primary form__button" type="submit">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>

block cssCode
  :highlight(css)
    .modal {
      --background-color: rgba(196, 196, 196, 50);
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: var(--background-color);
      display: none;
    }

    .modal_embedded {
      position: static;
      display: flex;
      padding: 24px;
      height: initial;
      width: initial;
    }

    .modal__window {
      background: var(--background-primary);
      border-radius: 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      padding: 15px 40px 33px 40px;
    }

    .modal__window_embedded {
      position: relative;
      transform: none;
      padding: 15px;
      top: 0;
      left: 0;
    }

    .modal__close {
      height: 16px;
      width: 16px;
      position: absolute;
      right: 15px;
      cursor: pointer;
      color: var(--text);
    }

    .modal__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: var(--text);
      padding-bottom: 14px;
      padding-top: 15px;
    }

    .modal__content {
      color: var(--grey-4);
      font: normal 400 16px/24px 'Inter', sans-serif;
    }
